/bin
/.vs
/obj
/packages
/WcfClient/obj
/WcfClient/bin
/WcfService/obj
/WcfService/bin
/Shared/obj
/Shared/bin
/StateService/obj
/StateService/bin
/WcfHosting/obj
/WcfHosting/bin
/StateService/*.user
/StateService/pkg/Debug
